<h1><%= pluralize(@movies.count, 'Movie') %></h1>

<p>Movies array Object ID: <%= @movies.object_id %></p>

<% @movies.each do |movie| %>
  <article>
    <header>
      <h2><%= link_to movie.title, movie %></h2>
      <%= image_for(movie) %>
      <h3><%= movie.cast %></h3>
    </header>
    <p>
      <%= truncate(movie.description, length: 30, separator: " ") %>
    </p>
    <table>
      <tr>
        <th>Released:</th>
        <td><%= format_release_date(movie) %></td>
      </tr>
      <tr>
        <th>Rating:</th>
        <td><%= movie.rating %></td>
      </tr>
      <tr>
        <th>Duration:</th>
        <td><%= movie.duration %></td>
      </tr>
      <tr>
        <th>Total Gross:</th>
        <td><%= format_total_gross(movie) %></td>
      </tr>
    </table>
  </article>
<% end %>

