<% title("#{@movie.title} (#{@movie.released_on.year})") %>

<% content_for :side_bar do %>
  <%= render "shared/genres_list" %>

  <% if @fans.any? %>
    <h3><%= pluralize(@fans.size, 'Fan') %></h3>
    <ul>
      <% @fans.each do |user| %>
        <li>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<article id="movie" class="movie">
  <header>
    <%= image_for(@movie, :large) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= format_release_date(@movie) %> </h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>

  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %>
  </h3>

  <p>
    <% if logged_in? %>
      <% if @current_favorite %>
        <%= button_to "Unfave", movie_favorite_path(@movie, @current_favorite), method: :delete, class: "button unfave" %>
      <% else %>
        <%= button_to "Fave", movie_favorites_path(@movie), class: "button fave" %>
      <% end %>
    <% end %>
  </p>

  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>

  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

  <h3>Average Stars</h3>
  <p>
    <%= format_average_stars(@movie) %>
  </p>

  <p>
    <% unless @movie.unreviewed? %>
      <%= link_to pluralize(@movie.reviews.count, "review"),
            movie_reviews_path(@movie) %>

      <%= render "shared/list_reviews", reviews: @movie.recent_reviews(2) %>
    <% end %>
  </p>

  <div>
    <% unless @movie.reviewed_by?(current_user) %>
      <%= render "shared/review_form" %>
    <% end %>
  </div>

  <footer>
    <nav>
      <% if current_user_admin? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
        <%= link_to 'Delete', @movie,
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure ass fuck??' } %>
      <% end %>
    </nav>
  </footer>
</article>

