<li>
  <%= profile_image_for(review.user, size: 35) %>
  <span class="review"><%= pluralize(review.stars, 'star') %></span>
  <span class="user">by <%= link_to review.user.username, review.user %></span>
  <span class="date"> | last updated <%= time_ago_in_words(review.updated_at) %> ago</span>

  <% if current_user?(review.user) %>
    | <%= link_to 'Edit', edit_movie_review_path(review.movie, review) %>

    | <%= link_to 'Delete', [review.movie, review],
              method: :delete, data: { confirm: 'Are you sure ass fuck??' } %>
  <% end %>

  <p>
    &quot;<%= review.comment %>&quot;
  </p>
</li>
